
<body>
  <h1>Former Details</h1>
  <form action="/listings/new" method="post">
    <h1>please change the values you wish to change</h1> -->
    <textarea name="title" placeholder="suggest an appropriate title"></textarea>
    <textarea name="image" placeholder="suggest an appropriate image"></textarea>
    <textarea name="content" placeholder="suggest an appropriate content"></textarea> 
    <textarea name="description" placeholder="suggest an appropriate description"></textarea>
    <button type="submit">save</button>
  </form> 
</body>